In [1]:
# Import dependancies 
import pandas as pd
from pathlib import Path

In [2]:
WHO_dae_csv = Path("/Users/mireille.walton/Desktop/da_bootcamp/ch_proj/Project_3/source_data/Death_attributable_to_Environment_data.csv")
World_Bank_pop_csv = Path("/Users/mireille.walton/Desktop/da_bootcamp/ch_proj/Project_3/source_data/World_Bank_Data.csv")

In [3]:
WHO_dae_read = pd.read_csv(WHO_dae_csv)
World_Bank_pop_read = pd.read_csv(World_Bank_pop_csv, skiprows = 4)

In [4]:
# Display the sample data 1
WHO_dae_read.head(2)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,TOTENV_1,Deaths attributable to the environment,numeric,EUR,Europe,Country,AND,Andorra,Year,2012,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2016-03-08T13:00:00.000Z
1,TOTENV_1,Deaths attributable to the environment,numeric,EUR,Europe,Country,MCO,Monaco,Year,2012,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,EN,2016-03-08T13:00:00.000Z

In [5]:
# Display column names and data types
WHO_dae_read.dtypes

IndicatorCode                  object
Indicator                      object
ValueType                      object
ParentLocationCode             object
ParentLocation                 object
Location type                  object
SpatialDimValueCode            object
Location                       object
Period type                    object
Period                          int64
IsLatestYear                     bool
Dim1 type                      object
Dim1                           object
Dim1ValueCode                  object
Dim2 type                     float64
Dim2                          float64
Dim2ValueCode                 float64
Dim3 type                     float64
Dim3                          float64
Dim3ValueCode                 float64
DataSourceDimValueCode        float64
DataSource                    float64
FactValueNumericPrefix        float64
FactValueNumeric                int64
FactValueUoM                  float64
FactValueNumericLowPrefix     float64
FactValueNumericLow           float64
FactValueNumericHighPrefix    float64
FactValueNumericHigh          float64
Value                          object
FactValueTranslationID        float64
FactComments                  float64
Language                       object
DateModified                   object
dtype: object

In [6]:
# Create new dataframe 
WHO_dae_dataframe = pd.DataFrame(WHO_dae_read)

# Use copy to extract required columns
WHO_dae_data = WHO_dae_dataframe[["ParentLocationCode", "ParentLocation", "SpatialDimValueCode","Location", "Dim1","FactValueNumeric"]].copy()

#confirm columns extracted are correct
WHO_dae_data.head(2)

,ParentLocationCode,ParentLocation,SpatialDimValueCode,Location,Dim1,FactValueNumeric
0,EUR,Europe,AND,Andorra,"Infectious, parasitic, neonatal and nutritional",0
1,EUR,Europe,MCO,Monaco,"Infectious, parasitic, neonatal and nutritional",0

In [7]:
# Rename column headers
WHO_dae_data.rename(columns={"ParentLocationCode":"Continent_Code",
                            "ParentLocation":"Continent",
                            "SpatialDimValueCode":"Country_Code",
                            "Location":"Country",
                             "Dim1":"Indicator",
                            "FactValueNumeric":"No_Deaths"}, inplace=True)

In [8]:
# Change No_Deaths columns back to type "int"
WHO_dae_data['No_Deaths'] = WHO_dae_data['No_Deaths'].astype('int64')

# check dataframe column names datatypes are correct
WHO_dae_data.dtypes

Continent_Code    object
Continent         object
Country_Code      object
Country           object
Indicator         object
No_Deaths          int64
dtype: object

In [9]:
# Display the sample data 2
World_Bank_pop_read.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0,NaN

In [10]:
# Display column names and data types
World_Bank_pop_read.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2019              float64
2020              float64
2021              float64
2022              float64
Unnamed: 67       float64
Length: 68, dtype: object

In [11]:
# Create new dataframe 
World_Bank_pop_dataframe = pd.DataFrame(World_Bank_pop_read)

# Use copy to extract required columns
World_Bank_pop_data = World_Bank_pop_dataframe[["Country Name", "Country Code", "2016"]].copy()

# Rename column headers
World_Bank_pop_data.rename(columns={"Country Code":"Country_Code",
                            "Country Name":"Country",
                                   "2016": "2016_Population"}, inplace=True)


#confirm columns extracted are correct
World_Bank_pop_data.head(2)

                       Country Country_Code  2016_Population
0                        Aruba          ABW         104874.0
1  Africa Eastern and Southern          AFE      616377605.0

In [12]:
# merge dataframes (left merge on country code)
dae_pop_data_merge = pd.merge(WHO_dae_data, World_Bank_pop_data, how="left", on = ["Country_Code", "Country_Code"])
dae_pop_data = pd.DataFrame(dae_pop_data_merge)

# Add formating to dataframe
pd.options.display.float_format = '{:,.0f}'.format

# view new dataframe
dae_pop_data.head(2)

,Continent_Code,Continent,Country_Code,Country_x,Indicator,No_Deaths,Country_y,2016_Population
0,EUR,Europe,AND,Andorra,"Infectious, parasitic, neonatal and nutritional",0,Andorra,"72,540"
1,EUR,Europe,MCO,Monaco,"Infectious, parasitic, neonatal and nutritional",0,Monaco,"37,071"

In [13]:
# Check datatypes of new dataframe
dae_pop_data.dtypes

Continent_Code      object
Continent           object
Country_Code        object
Country_x           object
Indicator           object
No_Deaths            int64
Country_y           object
2016_Population    float64
dtype: object

In [14]:
# Drop rows with "NaN" in population column and "Total" in Inidicator category
# Ref: eumiro, edited by AMC, StackOverflow, 16 Feb 2020, 
# "How to drop rows of Pandas DataFrame whose value in a certain column is NaN"
# https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-in-a-certain-column-is-nan, accessed 9 Sept 2023 
dae_pop_data_dropNaN_Total = dae_pop_data[
    (dae_pop_data.Country_y != "NaN") & 
    (dae_pop_data.Indicator != "Total")&
    (dae_pop_data["Country_y"].notna())]

# Check required rows have been dropped 
dae_pop_data_dropNaN_Total.head(2)

,Continent_Code,Continent,Country_Code,Country_x,Indicator,No_Deaths,Country_y,2016_Population
0,EUR,Europe,AND,Andorra,"Infectious, parasitic, neonatal and nutritional",0,Andorra,"72,540"
1,EUR,Europe,MCO,Monaco,"Infectious, parasitic, neonatal and nutritional",0,Monaco,"37,071"

In [15]:
# Remove column "Country_y" 
dae_pop_data_dropNaN_Total.drop("Country_y", axis=1, inplace = True)

# Rename column header "Country_x" to "Country"
dae_pop_data_dropNaN_Total.rename(columns={"Country_x":"Country"}, inplace=True)

# Check required changes have been made
dae_pop_data_dropNaN_Total.head(2)

/var/folders/m7/yfqdhr1157x_5xx3bb3y5s940000gn/T/ipykernel_4990/1910506855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dae_pop_data_dropNaN_Total.drop("Country_y", axis=1, inplace = True)
/var/folders/m7/yfqdhr1157x_5xx3bb3y5s940000gn/T/ipykernel_4990/1910506855.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dae_pop_data_dropNaN_Total.rename(columns={"Country_x":"Country"}, inplace=True)

,Continent_Code,Continent,Country_Code,Country,Indicator,No_Deaths,2016_Population
0,EUR,Europe,AND,Andorra,"Infectious, parasitic, neonatal and nutritional",0,"72,540"
1,EUR,Europe,MCO,Monaco,"Infectious, parasitic, neonatal and nutritional",0,"37,071"

In [16]:
# Export file to csv
dae_pop_data_dropNaN_Total.to_csv("dae_MergedData_clean.csv", index = False)

In [31]:
# GLOBAL DEATHS BY INIDCATOR TYPE

# Add formating to dataframe
pd.options.display.float_format = '{:,.0f}'.format

# get list of unique Indicator Categories
Indicator = dae_pop_data_dropNaN_Total["Indicator"].unique()

# Calculate number of total deaths
No_Deaths_Global = dae_pop_data_dropNaN_Total["No_Deaths"].sum()

# Calculate number of total population
Population_Global = dae_pop_data_dropNaN_Total["2016_Population"].sum()

# Calculate number of deaths Indicator Category
No_Deaths_IC_Global = dae_pop_data_dropNaN_Total.groupby(["Indicator"])["No_Deaths"].sum()

# Calculate Indicator deaths as % of total deaths 
Perc_Deaths_IC_Global = No_Deaths_IC_Global/No_Deaths_Global*100

# Calculate Indicator deaths as % of total population
Perc_Deaths_IC_Pop_Global = No_Deaths_IC_Global/Population_Global*100

In [32]:
#create new Global Deaths dataframe to store results to be used for ploting charts
dae_Global_Data = pd.DataFrame({
    "Global_Deaths": No_Deaths_IC_Global,
    "Global_Population": Population_Global,
    "Indicator_Deaths_%_Total_Deaths": Perc_Deaths_IC_Global,
    "Indicator_Deaths_%_Total_Population": Perc_Deaths_IC_Pop_Global}, index=Indicator)

# Format columns
dae_Global_Data["Global_Deaths"] = (dae_Global_Data["Global_Deaths"]).map("{:,}".format)
dae_Global_Data["Indicator_Deaths_%_Total_Deaths"] = dae_Global_Data["Indicator_Deaths_%_Total_Deaths"].map("{:,.1f}%".format)
dae_Global_Data["Indicator_Deaths_%_Total_Population"] = dae_Global_Data["Indicator_Deaths_%_Total_Population"].map("{:,.4f}%".format)

# give name to index
# Ref Admin, 28 January 2023, Sparkby{Example}, https://sparkbyexamples.com/pandas/pandas-set-index-name-to-dataframe/, accessed 9 September 2023

dae_Global_Data.index.name = "Indicator"

# view dataframe results
dae_Global_Data.head(2)

,Global_Deaths,Global_Population,Indicator_Deaths_%_Total_Deaths,Indicator_Deaths_%_Total_Population
Indicator,,,,
"Infectious, parasitic, neonatal and nutritional","2,503,682","22,347,706,701",19.8%,0.0112%
Injuries,"1,950,084","22,347,706,701",15.4%,0.0087%

In [33]:
# Export file to csv
dae_Global_Data.to_csv("dae_Global_Data_clean.csv", index = True)

In [35]:
# Add formating to dataframe
pd.options.display.float_format = '{:,.0f}'.format

# Set Continent as the index column
Continent = dae_pop_data_dropNaN_Total.set_index("Continent")

# Calculate the total number of deaths by Continent
No_Deaths_Continent = dae_pop_data_dropNaN_Total.groupby(["Continent"])["No_Deaths"].sum()

# Calculate number of deaths by Continent and Indicator Category
No_Deaths_IC_Continent = dae_pop_data_dropNaN_Total.groupby(["Continent", "Indicator"])["No_Deaths"].sum()

# Calculate total population by Continent
Population_Continent1 = dae_pop_data_dropNaN_Total.groupby(["Continent"])["2016_Population"].sum()
#Population_Continent = Population_Continent1.map('{:,.0f}'.format)

# Calculate number of population by Continent and Indicator Category
Population_IC_Continent = dae_pop_data_dropNaN_Total.groupby(["Continent", "Indicator"])["2016_Population"].sum()

# Calculate the percentage of deaths for each Indicator_Category within each Continent
Perc_Deaths_IC_Continent = No_Deaths_IC_Continent / No_Deaths_Continent * 100

# Calculate Indicator deaths as % of total population
Perc_Deaths_IC_Pop_Continent = No_Deaths_IC_Continent / Population_IC_Continent*100

In [36]:
# Create a new DataFrame with the calculated values
dae_Continent_Data = pd.DataFrame({
    "Continent_Deaths": No_Deaths_IC_Continent,
    "Continent_Population": Population_IC_Continent,
    "Indicator_Deaths_%_Total_Deaths": Perc_Deaths_IC_Continent,
    "Indicator_Deaths_%_Total_Population": Perc_Deaths_IC_Pop_Continent})

# Format the "% Deaths" column as percentages with two decimal places
dae_Continent_Data["Continent_Deaths"] = dae_Continent_Data["Continent_Deaths"].map("{:,}".format)
dae_Continent_Data["Indicator_Deaths_%_Total_Deaths"] = (dae_Continent_Data["Indicator_Deaths_%_Total_Deaths"]).map("{:,.1f}%".format)
dae_Continent_Data["Indicator_Deaths_%_Total_Population"] = (dae_Continent_Data["Indicator_Deaths_%_Total_Population"]).map("{:,.4f}%".format)

# View the DataFrame results
dae_Continent_Data.head(10)

                                                                      Continent_Deaths  \
Continent             Indicator
Africa                Infectious, parasitic, neonatal and nutritional        1,264,387
                      Injuries                                                 409,520
                      Noncommunicable diseases                                 502,448
Americas              Infectious, parasitic, neonatal and nutritional           58,204
                      Injuries                                                 180,000
                      Noncommunicable diseases                                 608,683
Eastern Mediterranean Infectious, parasitic, neonatal and nutritional          240,077
                      Injuries                                                 166,038
                      Noncommunicable diseases                                 448,284
Europe                Infectious, parasitic, neonatal and nutritional           26,966

                                                                       Continent_Population  \
Continent             Indicator
Africa                Infectious, parasitic, neonatal and nutritional         1,022,825,302
                      Injuries                                                1,022,825,302
                      Noncommunicable diseases                                1,022,825,302
Americas              Infectious, parasitic, neonatal and nutritional           982,865,966
                      Injuries                                                  982,865,966
                      Noncommunicable diseases                                  982,865,966
Eastern Mediterranean Infectious, parasitic, neonatal and nutritional           697,040,699
                      Injuries                                                  697,040,699
                      Noncommunicable diseases                                  697,040,699
Europe                Infectious, parasitic, neonatal and nutritional           919,175,473

                                                                      Indicator_Deaths_%_Total_Deaths  \
Continent             Indicator
Africa                Infectious, parasitic, neonatal and nutritional                           58.1%
                      Injuries                                                                  18.8%
                      Noncommunicable diseases                                                  23.1%
Americas              Infectious, parasitic, neonatal and nutritional                            6.9%
                      Injuries                                                                  21.3%
                      Noncommunicable diseases                                                  71.9%
Eastern Mediterranean Infectious, parasitic, neonatal and nutritional                           28.1%
                      Injuries                                                                  19.4%
                      Noncommunicable diseases                                                  52.5%
Europe                Infectious, parasitic, neonatal and nutritional                            1.9%

                                                                      Indicator_Deaths_%_Total_Population
Continent             Indicator
Africa                Infectious, parasitic, neonatal and nutritional                             0.1236%
                      Injuries                                                                    0.0400%
                      Noncommunicable diseases                                                    0.0491%
Americas              Infectious, parasitic, neonatal and nutritional                             0.0059%
                      Injuries                                                                    0.0183%
                      Noncommunicable diseases                                                    0.0619%
Eastern Mediterranean Infectious, parasitic, neonatal and nutritional                             0.0344%
                      Injuries                                                                    0.0238%
                      Noncommunicable diseases                                                    0.0643%
Europe                Infectious, parasitic, neonatal and nutritional                             0.0029%

In [37]:
# Export file to csv
dae_Continent_Data.to_csv("dae_Continent_Data_clean.csv", index = True)

In [38]:
# DEATHS BY COUNTRY & INIDCATOR TYPE

# Add formating to dataframe
pd.options.display.float_format = '{:,.0f}'.format

# Set Country as index
Country = dae_pop_data_dropNaN_Total.set_index("Country")

# Calculate the total number of deaths by Country
No_Deaths_Country = dae_pop_data_dropNaN_Total.groupby(["Country","Continent"])["No_Deaths"].sum()

# Calculate number of deaths by Country and Indicator Category
No_Deaths_IC_Country = dae_pop_data_dropNaN_Total.groupby(["Country","Continent", "Indicator"])["No_Deaths"].sum()

# Calculate total population by Country
Population_Country = dae_pop_data_dropNaN_Total.groupby(["Country","Continent"])["2016_Population"].sum()

# Calculate number of population by Country and Indicator Category
Population_IC_Country = dae_pop_data_dropNaN_Total.groupby(["Country","Continent", "Indicator"])["2016_Population"].sum()

# Calculate the percentage of deaths for each Indicator_Category within each Country
Perc_Deaths_IC_Country = No_Deaths_IC_Country / No_Deaths_Country * 100

# Calculate Indicator deaths as % of total population
Perc_Deaths_IC_Pop_Country = No_Deaths_IC_Country / Population_IC_Country*100

In [39]:
# Create a new DataFrame with the calculated values
dae_Country_Data = pd.DataFrame({
    "Country_Deaths": No_Deaths_IC_Country,
    "Country_Population": Population_IC_Country,
    "Indicator_Deaths_%_Total_Deaths": Perc_Deaths_IC_Country,
    "Indicator_Deaths_%_Total_Population": Perc_Deaths_IC_Pop_Country})

# Format the "% Deaths" column as percentages with two decimal places
dae_Country_Data["Country_Deaths"] = dae_Country_Data["Country_Deaths"].map("{:,}".format)
dae_Country_Data["Indicator_Deaths_%_Total_Deaths"] = (dae_Country_Data["Indicator_Deaths_%_Total_Deaths"]).map("{:,.1f}%".format)
dae_Country_Data["Indicator_Deaths_%_Total_Population"] = (dae_Country_Data["Indicator_Deaths_%_Total_Population"]).map("{:,.4f}%".format)

# View the DataFrame results
dae_Country_Data.head(10)

                                                                                  Country_Deaths  \
Country     Continent             Indicator
Afghanistan Eastern Mediterranean Infectious, parasitic, neonatal and nutritional         29,571
                                  Injuries                                                13,086
                                  Noncommunicable diseases                                22,490
Albania     Europe                Infectious, parasitic, neonatal and nutritional             78
                                  Injuries                                                   514
                                  Noncommunicable diseases                                 6,174
Algeria     Africa                Infectious, parasitic, neonatal and nutritional          3,806
                                  Injuries                                                 7,999
                                  Noncommunicable diseases                                24,914
Andorra     Europe                Infectious, parasitic, neonatal and nutritional              0

                                                                                   Country_Population  \
Country     Continent             Indicator
Afghanistan Eastern Mediterranean Infectious, parasitic, neonatal and nutritional          34,636,207
                                  Injuries                                                 34,636,207
                                  Noncommunicable diseases                                 34,636,207
Albania     Europe                Infectious, parasitic, neonatal and nutritional           2,876,101
                                  Injuries                                                  2,876,101
                                  Noncommunicable diseases                                  2,876,101
Algeria     Africa                Infectious, parasitic, neonatal and nutritional          40,339,329
                                  Injuries                                                 40,339,329
                                  Noncommunicable diseases                                 40,339,329
Andorra     Europe                Infectious, parasitic, neonatal and nutritional              72,540

                                                                                  Indicator_Deaths_%_Total_Deaths  \
Country     Continent             Indicator
Afghanistan Eastern Mediterranean Infectious, parasitic, neonatal and nutritional                           45.4%
                                  Injuries                                                                  20.1%
                                  Noncommunicable diseases                                                  34.5%
Albania     Europe                Infectious, parasitic, neonatal and nutritional                            1.2%
                                  Injuries                                                                   7.6%
                                  Noncommunicable diseases                                                  91.3%
Algeria     Africa                Infectious, parasitic, neonatal and nutritional                           10.4%
                                  Injuries                                                                  21.8%
                                  Noncommunicable diseases                                                  67.9%
Andorra     Europe                Infectious, parasitic, neonatal and nutritional                            0.0%

                                                                                  Indicator_Deaths_%_Total_Population
Country     Continent             Indicator
Afghanistan Eastern Mediterranean Infectious, parasitic, neonatal and nutritional                             0.0854%
                                  Injuries                                                                    0.0378%
                                  Noncommunicable diseases                                                    0.0649%
Albania     Europe                Infectious, parasitic, neonatal and nutritional                             0.0027%
                                  Injuries                                                                    0.0179%
                                  Noncommunicable diseases                                                    0.2147%
Algeria     Africa                Infectious, parasitic, neonatal and nutritional                             0.0094%
                                  Injuries                                                                    0.0198%
                                  Noncommunicable diseases                                                    0.0618%
Andorra     Europe                Infectious, parasitic, neonatal and nutritional                             0.0000%

In [40]:

# Export file to csv
dae_Country_Data.to_csv("dae_Country_Data_clean.csv", index = True)